:root{
  --nav-width: 20%;
}

body{
  display: flex;
  justify-content: center;
}

.container{
  position: relative;
  display: flex;
  width: 95%;
  padding: 2rem 1rem 1rem;
  background-color: #f5f1f1;
  line-height: 2rem;
}

main{
  padding-left: 2rem;
}

.nav-block{
  width: var(--nav-width);
  border-right: 1px solid darkgray;
}

li img{
  height: 3.5rem;
}
li>span{
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

footer{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
footer img{
  height: 2rem;
}