:root{
  --nav-width: 45%;
}

body{
  display: flex;
  justify-content: center;
}

.container{
  position: relative;
  display: flex;
  overflow: auto;
  width: 95%;
  padding: 2rem 1rem 1rem;
  background-color: #f5f1f1;
  line-height: 2rem;
}

main{
  padding-left: 2rem;
}
h1, h1 + h3{
  text-align: center;
}
section>p{
  margin-left: 2rem;
}

.nav-block{
  width: var(--nav-width);
  border-right: 1px solid darkgray;
}
nav{
  margin-top: 2rem;
}
nav ul{
  list-style-type: square;
}

li img{
  height: 3.5rem;
}
li>span{
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}
span img + span{
  font-size: 1.5rem;
  font-weight: 900;
}

hr{
  margin-top: 3rem;
}

footer{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
footer img{
  height: 2rem;
}